body {
    background-color: dodgerblue;
}

button {
    position: absolute;
    color: snow;
    background: none;
    border: none;
    font-family: "Comfortaa", sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: -3px;
    font-weight: 300;
}

p:hover {
    cursor: pointer;
}


/*
button:hover { font-weight: 600; }
button:hover i { 
    margin-right: 15px;
    transition: margin 0.3s;
}
*/

i {
    color: snow;
    margin-right: 10px;
}

#wrapper {
    background-color: snow;
    position: absolute;
    top: 65px;
    left: 0;
    right: 0;
    bottom: 50px;
    overflow: hidden;
}

#web-app-title {
    font-family: "Exo", sans-serif;
	font-size: 40px;
	font-style: normal;
	font-variant: small-caps;
	font-weight: 500;
	line-height: 26.4px;
    padding: 10px;
    color: snow;
}

#calendar-header, #journal-entries-header, #tag-header, #edit-entry-header {
/*    border: 1px solid white;*/
    padding: 10px;
    margin: 0;
    text-align: left;
    background-color: darkblue;
    color: snow;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
}

#calendar-header, #tag-header {
    width: 399px;
}

#journal-entries-header, #edit-entry-header {
    position: absolute;
    width: 76.2%;
    top: 0;
    right: 0;
}

#right-panel, #left-panel {
    position: absolute;
    overflow-y: scroll;
}

#left-panel {
    top: 0;
    bottom: 0;
    width: 434px;
}

#right-panel {
    top: 45px;
    bottom: 0;
    width: 77%;
}

#search-entry {
    left: 440px;
    border: 2px solid #dadada;
    border-radius: 7px;
    box-sizing: border-box;
    background-image:url('http://i47.tinypic.com/r02vbq.png');
    background-repeat: no-repeat;
    background-position: -20px -20px;
    font-size: 16px;
    width: 95px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    position: absolute;
    margin-top: -5px;
    top: 25px;
    right: 760px;
    padding: 5px 1px 5px 25px;
}

#search-entry:focus {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
    width: 210px;
}

#entry-title, #entry-content {
    position: relative;
    width: 95%;
    margin-left: 20px;
    margin-right: 20px;
    border: 0;
    box-sizing: border-box;
}

#entry-title:focus, #entry-content:focus {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

#entry-content {
    height: 365px;
    resize: none;
    margin-top: 10px;
    background: url(textarea_background.png) repeat;
/*    font: normal 18px/24px verdana;*/
    font: normal 15px/24px verdana;
    overflow: auto;
}

#entry-title {
    margin-top: 20px;
    background: url(textarea_background.png) repeat-x;
    font: normal 20px verdana;
}

#edit-entry {
    position: absolute;
    top: 20px;
    bottom: 20px;
    right: 20px;
    left: 20px;
    box-shadow: 1px 1px 10px black;
    background-color: #e6e6e6;
}

/*
#entry1:hover {
    cursor: pointer;
}
*/

.btn-add-entry, #right-panel {
    right: 0;
}

.btn-add-entry {
    top: 25px;
    width: 200px;
    display: block;
    text-transform: capitalize;
}

.btn-sign-out, .btn-settings {
    width: 150px;
    bottom: 8px;
    text-transform: capitalize;
}

.btn-sign-out {
    right: 25px;
}

.btn-settings {
    right: 205px;
}

.btn-add-tag, .btn-delete-tag {
    font-size: 25px;
    margin-top: -3px;
}

.btn-add-tag {
    right: 8px;
}

.btn-delete-tag {
    right: 60px;
}

.save-and-del-btn {
    position: absolute;
    top: 23px;
    left: 420px;
    display: none;
}

.btn-save-entry, .btn-delete-entry {
    font-size: 20px;
    width: 130px;
    text-transform: capitalize;
}

.btn-delete-entry {
/*    margin-left: 90px;*/
/*    margin-left: 165px;*/
    position: fixed;
    top: 23px;
    left: 590px;
}

.btn-save-entry {
    position: fixed;
    top: 23px;
    left: 430px;
    
}

/* The style for setting's pop up and its content*/
.modal {
  display:none;
  position: fixed;
  left: 0;
  top:0;
  padding-top: 100px;
  z-index : 1;
  width:100%;
  height:100%;
  overflow: auto; /*enabling scroll if needed */
  background-color: rgba(0,0,0,0.4);
}

.setting-popup {
    visibility: hidden;
    width: 30%;
	height:30%;
    background-color: dodgerblue;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
	top: 50%;
  	left: 50%;
 	transform: translate(-50%, -50%);
	font-family: "Comfortaa", sans-serif;
    font-size: 20px;
}

.change-theme-color {
	margin-top:50px;
	text-align:left;
}
/*Apply and cancel for popup*/
.btn-apply {
	width: 150px;
    bottom: 8px;
	right:150px;
    text-transform: capitalize;
}

.btn-cancel{
	width: 150px;
    bottom: 8px;
	right:5px;
    text-transform: capitalize;
}
/* Dropdown list for change color*/
#color-options {

}
/* */
 .show {
	 visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}
