body {
    background-color: dodgerblue;
}

button {
    position: absolute;
    color: snow;
    background: none;
    border: none;
    font-family: "Comfortaa", sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: -3px;
    font-weight: 300;
}

/*
button:hover { font-weight: 600; }
button:hover i { 
    margin-right: 15px;
    transition: margin 0.3s;
}
*/

i {
    color: snow;
    margin-right: 10px;
}

#wrapper {
    background-color: snow;
    position: absolute;
    top: 65px;
    left: 0;
    right: 0;
    bottom: 50px;
    overflow: hidden;
}

#web-app-title {
    font-family: "Exo", sans-serif;
	font-size: 40px;
	font-style: normal;
	font-variant: small-caps;
	font-weight: 500;
	line-height: 26.4px;
    padding: 10px;
    color: snow;
}

#calendar-header, #journal-entries-header, #tag-header, #edit-entry-header {
/*    border: 1px solid white;*/
    padding: 10px;
    margin: 0;
    text-align: left;
    background-color: darkblue;
    color: snow;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
}

#calendar-header, #tag-header {
    width: 399px;
}

#journal-entries-header, #edit-entry-header {
    position: absolute;
    width: 912px;
    top: 0;
    right: 0;
}

#right-panel, #left-panel {
    position: absolute;
    overflow-y: scroll;
}

#left-panel {
    top: 0;
    bottom: 0;
    width: 434px;
}

#right-panel {
    top: 45px;
    bottom: 0;
    width: 924px;
}

#search-entry {
    left: 440px;
    border: 2px solid #dadada;
    border-radius: 7px;
    box-sizing: border-box;
    background-image:url('http://i47.tinypic.com/r02vbq.png');
    background-repeat: no-repeat;
    background-position: -20px -20px;
    font-size: 16px;
    width: 110px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    position: absolute;
    margin-top: -5px;
    top: 25px;
    right: 760px;
    padding: 5px 1px 5px 25px;
}

#search-entry:focus {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
    width: 210px;
}

#entry-title, #entry-content {
    position: relative;
    width: 95%;
    font-size: 20px;
    font-family: monospace;
    margin-left: 20px;
    margin-right: 20px;
    border: 0;
    box-sizing: border-box;
}

#entry-title:focus, #entry-content:focus {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

#entry-content {
    resize: none;
    margin-top: 10px;
}

#entry-title {
    margin-top: 20px;
}

#edit-entry {
    position: absolute;
    top: 20px;
    bottom: 100px;
    right: 20px;
    left: 20px;
    box-shadow: 1px 1px 10px black;
}

.btn-add-entry, #right-panel {
    right: 0;
}

.btn-add-entry {
    top: 25px;
    width: 200px;
    display: block;
    text-transform: capitalize;
}

.btn-sign-out, .btn-settings {
    width: 150px;
    bottom: 8px;
    text-transform: capitalize;
}

.btn-sign-out {
    right: 25px;
}

.btn-settings {
    right: 205px;
}

.btn-add-tag, .btn-delete-tag {
    font-size: 25px;
    margin-top: -3px;
}

.btn-add-tag {
    right: 8px;
}

.btn-delete-tag {
    right: 60px;
}

.save-and-del-btn {
    position: absolute;
    top: 23px;
    left: 420px;
    display: none;
}

.btn-save-entry, .btn-delete-entry {
    font-size: 20px;
    width: 140px;
    text-transform: capitalize;
}

.btn-delete-entry {
/*    margin-left: 90px;*/
    margin-left: 165px;
}