body {
    background-color: dodgerblue;
}

button {
    position: absolute;
    color: #555;
    background: none;
    border: none;
    font-family: "Comfortaa", sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 300;
    transition: background-color 0.3s, color 0.3s;
}

button:hover { font-weight: 600; }
button:hover a{ margin-right: 25px; }

/*input:focus {
    background-color:
}*/

a {
    color: black;
    display: inline-block;
    margin-right: 10px;
    font-size: 20px;
    line-height: 1;
    vertical-align: text-top;
    margin-top: -4px;
    transition: margin 0.3s;
}


#wrapper {
    background-color: snow;
    position: absolute;
    top: 65px;
    left: 0;
    right: 0;
    bottom: 50px;
    overflow: hidden;
}

#web-app-title {
    font-family: "Valera Round", sans-serif;
	font-size: 40px;
	font-style: normal;
	font-variant: small-caps;
	font-weight: 500;
	line-height: 26.4px;
    padding: 10px;
}

#calendar-header, #journal-entries-header, #tag-header {
    border: 1px solid white;
    padding: 10px;
    margin: 0;
    text-align: center;
    background-color: black;
    color: antiquewhite;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
}

#calendar-header, #tag-header {
    width: 397px;
}

#journal-entries-header {
    position: absolute;
    width: 910px;
    top: 0;
    right: 0;
}

#right-panel, #left-panel {
    position: absolute;
    overflow-y: scroll;
}

#right-panel {
    top: 0;
    bottom: 0;
    width: 434px;
}

#left-panel {
    top: 45px;
    bottom: 0;
    width: 924px;
}

#jentry {
    position: absolute;
    top: 25px;
    right: 760px;
    margin-top: -5px;
}

.btn-add-entry, .btn-sign-out, #left-panel {
    right: 0;
}

.btn-add-entry {
    top: 25px;
    width: 200px;
}

.btn-sign-out, .btn-settings {
    width: 170px;
}

.btn-sign-out {
    bottom: 8px;
}

.btn-settings {
    bottom: 8px;
    right: 200px;
}